/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0px;
  background: 000000;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #000000;
color: #ffffff;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  justify-content: center;
}


/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.subtext {
  font-family: "Inter", sans-serif;
  font-size: 2vh;
  font-weight: 300;
  margin-top: 3vh;
  width: 40vw;
  text-align: center;
}

.subtext1 {
  font-family: "Inter", sans-serif;
  font-size: 1.5vh;
  font-weight: 200;
  margin-top: 4vh;
  width: 45vw;
  text-align: center;
}

/*button {
  background-color: none;
  border: none;
  padding: none;
  margin: none;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  
}*/
.heading_banner
{
  color:#ffffff;
  text-decoration: none;
}

.hf_flex {
  display: flex;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 1.5vh;
  font-weight: 300;
  margin: 3vh;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 10vh;
  font-weight: 400;
  margin-top: 0vh;
}

video {
  height: 40vh;
  width: auto;
  margin-top: 0vh;
}

.center_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  height: 50vh;
}

.allContent {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-between;
}

.swiper{
  width: 640px;
  height: 360px;
}

.swiper [class^="swiper-button-"]{
  color: #ffffff; 
  width: 4vw;
  height: 0vw;
}

